# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# macOS
.DS_Store

# Generated data
outputs/
exports/

# Spark
.metastore_db/
spark-warehouse/
derby.log

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
